.login-container{role: 'login'}
  .login--block
    .login--header
      %i.icons-logo.icon
      %h2 ManageBac
    .login--content
      %h3 Email Authentication
      %p Please sign into #{content_tag(:strong, "ManageBac")} using your old email address and existing password to authenticate your new you email address.